.header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    height: 100px;
}

/* Estilos del header */
header {
    height: 100px;
    width: 100%;
    position: relative;
    background-color: var(--header-background);
    color: var(--letterColor);
    padding: 20px 0;
    z-index: 20;

    .logo-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;

        .logo-container div {
            font-size: 46px;
            font-family: fantasy;
            font-weight: lighter;
        }
    }

    nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: var(--letterColor);
                }
            }
        }

        nav .cta-nav {
            background: var(--accent-secondary);
            color: var(--letterColor);
            padding: 10px 20px;
            margin-left: 10px;
            text-decoration: none;
            border-radius: var(--border-radius);
        }
    }
}




/* Estilos de la sección "Sobre Mí" */
.about {
    padding: 50px 0;
    text-align: center;

    .container-section {
        width: 80%;
        margin: 0 auto;

        h1 {
            font-size: 36px;
            margin-bottom: 32px;
            color: var(--letterColor);
        }

        .bio {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 24px;

            .img-profile {
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 8px rgba(81, 203, 238, 1);

                img {
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                }
            }

            .text-profile {
                text-align: left;
                padding: 32px;
                background-color: var(--accent-secondary);
                box-shadow: 0 0 8px rgba(81, 203, 238, 1);

                p {
                    font-size: 16px;
                    line-height: 1.5;
                    margin-bottom: 16px;
                    color: var(--accent-primary);
                }

                .social-media-profile {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    ul {
                        display: flex;

                        li {
                            margin-right: 8px;
                            transform: scale(1);

                            :hover {
                                transform: scale(1.5) translateY(-8px);
                            }

                            img {
                                width: 32px;
                                cursor: pointer;
                                transition: transform 0.5s ease;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 760px) {
    .about{
        .container-section {
            .bio {
                flex-direction: column;
        
                .img-profile, .text-profile {
                    width: 100%;
                }
            }
        }
    }
    .bio {
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    }
}