/* Estilos de la sección "Sobre Mí" */
.about {
    padding: 3rem;
    text-align: center;
    margin: 7rem auto;

    .container-section {
        width: 80%;
        margin: 0 auto;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
            color: var(--letterColor);
        }

        .bio {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1.5rem;

            .img-profile {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 31rem;
                    object-fit: cover;
                    border-radius: var(--border-radius);
                    border: solid 1px var(--accent-1);
                    box-shadow: var(--shadow);
                }
            }

            .text-profile {
                text-align: left;
                padding: 2rem;
                background-color: var(--accent-2);
                box-shadow: var(--shadow);
                border-radius: var(--border-radius);

                p {
                    font-size: 1rem;
                    line-height: 1.3;
                    margin-bottom: 1rem;
                    color: var(--accent-1);
                }

                .social-media-profile {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    ul {
                        display: flex;

                        li {
                            margin-right: .5rem;
                            transform: scale(1);

                            :hover {
                                transform: scale(1.5) translateY(-.5rem);
                            }

                            img {
                                width: 2rem;
                                cursor: pointer;
                                transition: transform 0.5s ease;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width: 760px) {
    .about{
        .container-section {

            .bio {
                grid-template-columns: 1fr !important;
                grid-template-rows: 1fr 1fr !important;
        
                .img-profile, .text-profile {
                    width: 100%;
                }
            }
        }
    }
}