/* Estilos del footer */
footer {

    .container-section {
        padding: 1.5rem;
        width: 100%;
        height: auto;
        background: var(--footer-background);
        text-align: center;
        color: var(--letterColorFooter);

        p{
            margin-bottom: .5rem;
        }
    }
}