header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background-header);
    z-index: 1000;

    .logo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--accent-1);
            padding: .7rem;
        }

        .line-down {
            height: 2px;
            width: 100%;
            box-shadow: var(--shadow);
        }

        h1,
        a {
            cursor: pointer;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;

            li a {
                margin-right: 1rem;
                color: var(--accent-1);
                cursor: pointer;
                font-weight: bold;
            }

            li a:hover {
                text-shadow: var(--shadow);
            }
        }

        .cta-nav {
            background-color: var(--accent-1);
            padding: .5rem;
            font-weight: bold;
            border-radius: var(--border-radius);
            cursor: pointer;
        }

        .cta-nav:hover {
            box-shadow: var(--shadow);
        }
    }
}

/* Menu Mobile */
.header-mobile {
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 1rem .5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--background-header);
    z-index: 900;
    transition: all 0.3s ease;

    .logo-header-mobile {

        h1 a {
            color: var(--accent-1);
            font-family: var(--title-gobal);
        }
    }

    div svg {
        fill: var(--accent-3);
        width: 2.5rem;
        height: 2.5rem;
    }
}

.mobile-menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100dvh;
    width: 80%;
    padding: 1rem .5rem 0 0.8rem;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transform: translateX(-110%);
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-header);
    z-index: 1000;

    & .first-ul {
        border-bottom: 1px solid var(--accent-1);

        li {
            margin-bottom: 1.5rem;

            .logo {
                display: flex;
                justify-content: space-between;

                & :first-child {
                    fill: var(--accent-3);
                }
            }

            a {
                text-decoration: none;
                color: var(--accent-1);
                font-weight: bold;
            }
        }
    }

    & .last-ul {
        display: flex;
        justify-content: space-around;

        li {
            margin-top: 1rem;

            a {
                img {
                    width: 2.5rem;
                }
            }
        }
    }
}

.toggle {
    transform: translateX(-110%);
}

.toggle {
    transform: translateX(0);
}

@media (max-width: 768px) {
    header {
        display: none;
    }

    .header-mobile {
        display: flex;
    }
}