header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 5rem;

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;

        h1 {
            color: var(--accent-1);
            background-color: var(--accent-2);
            padding: .7rem;
            box-shadow: var(--shadow);
            font-family: var(--title-gobal);
        }

        h1,
        a {
            cursor: pointer;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;

            li a {
                margin-right: 1rem;
                color: var(--accent-1);
                cursor: pointer;
                font-weight: bold;
            }

            li a:hover {
                text-shadow: var(--shadow);
            }
        }

        .cta-nav {
            background-color: var(--accent-1);
            padding: .5rem;
            font-weight: bold;
            cursor: pointer;
        }

        .cta-nav:hover {
            box-shadow: var(--shadow);
        }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        padding: 0 0.5rem;

        .logo-container {
            margin-bottom: 1rem;
        }

        nav {
            flex-direction: column;

            ul {
                margin-bottom: 1rem;
            }
        }
    }
}