/* Estilos de la sección de portafolio */
.portfolio {
    padding: 3rem 0;
    text-align: center;

    .container-section {
        width: 80%;
        margin: 0 auto;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: var(--accent-1);
        }

        .portfolio-categories {
            margin-bottom: 2rem;

            button {
                background: var(--accent-2);
                color: var(--letterColor);
                padding: .5rem 1rem;
                border: none;
                margin: .5rem;
                cursor: pointer;
                border-radius: var(--border-radius);
                transition: box-shadow 0.4s ease;
            }
            button:hover {
                box-shadow: 0 0 8px var(--accent-1);
            }
            button.active {
                background-color: var(--accent-1);
                color: var(--accent-2);
            }
        }

        .portfolio-gallery {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 1.5rem;

            .photo {
                position: relative;
                overflow: hidden;
                border-radius: var(--border-radius);
                transition: box-shadow .4s linear;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    display: block;
                    opacity: 0.3;
                    transform: scale(0.9);
                    transition: all .5s linear;
                }
                .view-img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}