/* Section del main para los servicios */
main {
    padding: 24px;
    display: flex;
    justify-content: center;

    .services-container {
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1285px;
        height: 100%;

        .tittle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 8px 0 32px 0;

            h2 {
                font-size: 32px;
                font-weight: bold;
                color: var(--letterColor);
            }
        }

        .card-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(2, 1fr);
                justify-content: center;
                align-items: center;
                padding: 1rem;
                gap: 2rem;

                /*estilo para cada card*/
                .service-card {
                    display: flex;
                    height: 480px;
                    width: 100%;
                    background-color: var(--accent-secondary);
                    box-shadow: 0 0 8px rgba(81, 203, 238, 1);

                    .box-img {
                        height: 100%;
                        width: 100%;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .service-details {
                        padding: 0 16px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        color: var(--accent-primary);

                        ul {
                            list-style-type: none;
                            padding: 0;

                            li {
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }

    }
}


@media (max-width: 760px) {

    .box-img {

        img {
            width: 100% !important;
        }
    }

    .service-details {
        z-index: 5 !important;
        width: 100% !important;
        background: var(--accent-secondary) !important;
    }

    main {
        & .services-container {
            & .card-container {
                .card-content {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    .service-card {
                        height: initial;
                    }
                }
            }
        }
    }
}

@media (max-width: 912px) {

}