/* Root */
:root {
    --backgoundColor: #333;
    --background-color: #0e0e0e;
    --background-header: rgba(14, 14, 14, .8);
    --letterColor: rgba(81, 203, 238, 1);
    --accent-1: #5fdff9;
    --accent-2: rgb(20 40 61);
    --accent-3: rgb(170 188 207);
    --shadow: 0 0 8px rgba(81, 203, 238, 1);
    --border-radius: 1rem;
    --footer-background: #15181b;
    --letterColorFooter: #5d4343;
    --font-family: "Montserrat Alternates", sans-serif;
}

/* Estilos para reset */
*, *::after, *::before, *:focus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
    cursor: auto;
    border: none;
    outline: none;
}
html {
    scroll-behavior: smooth;
}

/* Estilos globales */
body, html {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    height: 100vh;
    width: 100%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .header-container, nav {
        flex-direction: column;
    }
    .photo-content {
        flex-direction: column;
    }

    .services-section {
        .services-container {
            gap: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

            .services-content {

            }
            .services-photo {
                width: 100%;
            }
        }
    }
}

@media (max-width: 812px) and (orientation: landscape) {
    
}